<!-- entrer un utilisateur -->

<html>

  <head>
    <title>Formulaire</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>

  </head>

  <body>
    <div class="container">
    <h1><font size="5">Formulaire n°3 : Enregistrements des utilisateurs</font></h1>
    </div>
    <br />

    <div class="container">
    <p>Veuillez entrer vos coordonnées :</p>
    </div>

    <p>
		<!-- FORMULAIRE 3 : -->
		<div class="container">
			<%= form_for :user do |f| %>
				<div class="form-group">
					<%= f.label "Nom d'utilisateur" %><br /> 
					<%= f.text_field :username %><br /> 
				</div>
				<div class="form-group">
					<%= f.label "Email" %><br /> 
					<%= f.text_field :email %><br /> 
				</div>
				<div class="form-group">
					<%= f.label "Bio" %><br /> 
					<%= f.text_field :bio, size: "60x12" %><br /> 
				</div>	
				
				<%= f.submit "Enregistrer", class: "btn btn-primary" %>
				
			<% end %>
		</div>
	</p>
  </body>

</html>